/* nav { */
.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;

}

.cols-4 {
    display: block;
    width: 45%;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;

}

.brand img {
    width: auto;
    display: inline-block;
    padding: 10px;
}

.brand p {
    font-size: xx-large;
    padding: 0;
    font-weight: 600;
    margin: 0;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;

}

li {
    font-size: x-large;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: black;
}

li:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

li:hover ::after {
    width: 100%;
}



.btn-grp {
    display: flex;
    justify-content: center;

}

button {
    margin: 0 30px;
}


#loginbtn {
    font-size: large;
    font-weight: 600;
    background-color: white;
    border: 1px solid rgb(212, 208, 208);
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
}

#loginbtn:hover {
    background-image: linear-gradient(orange, white, green);

}


/* } */